body {
    font-family: 'Open Sans', sans-serif;
}
:root {
    --typical-fW: 400;
    --typical-next-fw: 300;
    --color-hero-text: #E9E9E9;
    --dark-color-text: #333333;
    --light-color-text: #FFFFFF;
    --accent-color: #28A745;
    --typical-pasive-color: #1c8332e0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;}img {
    display: block;
    max-width: 100%;
    height: auto;}.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    font-family: inherit;
}

.container {
    width: 1334px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

/* .visually-hidden {
    white-space: nowrap;
    position: absolute;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    width: 1px;
} */


.header-hero-wrap {
    background-color: var(--dark-color-text);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(.jpg), url(../images/top-bc.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 1360px;
    margin: 0 auto;
}

/*---------------- HEADER --------------------- */

/* .header{
} */
.header-container {
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 13px;

}

.header-logo-icon {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.header-icon {
    fill: var(--accent-color);
}
.header-logo-text {
    font-weight: var(--typical-fW);
    font-size: 35px;
    line-height: 1.2;
    color: var(--light-color-text);
}

.header-logo-text .logo-text-wrap {
    padding-right: 10px;
}

.logo-text-wrap {
    color: var(--accent-color);
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header-link {
    min-width: calc((100%-160px)/5);
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    transition: color 200ms linear;

    font-weight: var(--typical-fW);
    font-size: 18px;
    line-height: 1.5;
    color: var(--light-color-text);
}
.header-link:is(:hover, :focus) {
    color: var(--accent-color);
}

/* ---------------- HERO -------------------- */
.hero {
    padding-top: 230px;
    padding-bottom: 282px;
}

.hero-title {
    margin-bottom: 24px;

    text-align: center;
    font-weight: var(--typical-next-fw);
    font-size: 55px;
    line-height: 1.2;
    color: var(--color-hero-text);
}

.hero-subtitle {
    margin-bottom: 32px;

    text-align: center;
    font-weight: var(--typical-fW);
    font-size: 22px;
    line-height: 1.7;
    color: var(--color-hero-text);
}

.hero-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border-color: var(--accent-color);
    padding:  11px 36px 12px 37px;
    transition: background-color 200ms linear scale(1);


    /* animation-name: changeTransformScale;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    background-color: var(--accent-color);
    font-weight: var(--typical-fW);
    font-size: 18px;
    line-height: 1.5;
    color: var(--light-color-text);
}
/* .hero-btn::before {
    content: '>';
} */



.hero-btn:is(:hover, :focus){
    background-color: var(--typical-pasive-color);
    border-color: var(--typical-pasive-color);
}
.hero-container {
    position: relative;
}
.hero-icon {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-58px, 70px);
transition: transform 250ms linear;
fill: var(--light-color-text);
}

.hero-icon {
    /* animation: changeTransform 2000ms linear infinite;  */
    animation-name: changeTransform;
    animation-duration: 800ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
/* .hero-icon:is(:hover, :focus) {
    animation-play-state: paused;
} */

/* ---------------- ABOUT --------------------- */

.about {
background-color: var(--accent-color);
/* padding: 80px 64px 80px 690px; */
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-container {
    position: relative;
    height: 300px;
    padding-left: 690px;
    
}

.about-img {
    position: absolute;
    left: -12px;
    top: -80px;
} 

.about-suptitle {
    margin-bottom: 8px;


    font-weight: var(--typical-fW);
    font-size: 20px;
    line-height: 1.7;
    color: var(--light-color-text);
}
.about-title {
    margin-bottom: 24px;


    font-weight: var(--typical-next-fw);
    font-size: 38px;
    line-height: 1.2;
    color: var(--light-color-text);
}
.about-subtitle {
    margin-bottom: 24px;

    font-weight: var(--typical-fW);
    font-size: 18px;
    line-height: 1.5;
    color: var(--light-color-text);
}

.about-btn {
    padding: 11px 35px 12px 34px;
    border-color: var(--light-color-text);
    border-radius: 4px;
    transition: background-color 200ms linear;

    background-color: var(--accent-color);
    color: var(--light-color-text);
    font-weight: var(--typical-fW);
    font-size: 18px;
    line-height: calc(28/18);
}

.about-btn {
    animation: changeTransformScale 1500ms infinite linear alternate;
}

.about-btn:is(:hover, :focus) {
    background-color: var(--typical-pasive-color);
}


/* ---------------- CASES --------------------- */

.cases {
    padding-top: 80px;
    padding-bottom: 80px;
}

.cases-suptitle {
    margin-bottom: 24px;

    font-weight: var(--typical-fW);
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    color: var(--dark-color-text);
}

.cases-title {
    margin-bottom: 24px;

    font-weight:var(--typical-next-fw);
    font-size: 38px;
    line-height: 1.2;
    text-align: center;
    color: var(--dark-color-text);
}

.cases-subtitle {
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: var(--dark-color-text);
}

.cases-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 20px;
    /* justify-content: center; */

}

/* .cases-item {
    width: calc((100%-40px)/3);
} */
/* .cases-img {
} */

/* ---------------- BLOG --------------------- */

.blog {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #0284D0;
}

.blog-container {
    position: relative;
    padding-left: 690px;
    height: 300px;
}

.blog-img{
    position: absolute;
    left: -12px;
    top: -80px;
}

.blog-left {
max-width: 606px;
}


.blog-time {
    margin-bottom: 8px;

    font-weight: var(--light-color-text);
    font-size: 20px;
    line-height: calc(33/20);
    color:var(--light-color-text);
}
.blog-title {
    margin-bottom: 24px;

    font-weight: var(--typical-next-fw);
    font-size: 38px;
    line-height: calc(48/38);
    color: var(--light-color-text);
}
.blog-subtitle {
    margin-bottom: 24px;

    font-weight: var(--typical-fW);
    font-size: 18px;
    line-height: calc(28/18);
    color: var(--light-color-text);
}
.blog-btn {
    padding:  11px 36px 12px 37px;
    background-color: #0284D0;
    border-color: var(--light-color-text);
    border-radius: 4px;
    transition: background-color 200ms linear;

    font-weight: var(--typical-fW);
    font-size: 18px;
    line-height: 1.5;
    color: var(--light-color-text);
}

.blog-btn {
    animation: changeTransformScale 1500ms infinite linear alternate;
}

.blog-btn:is(:hover, :focus) {
    background-color: #0066a1dc;
}


/* ---------------- TEAM --------------------- */

.team {
    padding-top: 80px;
    padding-bottom: 80px;
}

.team-suptitle {
    margin-bottom: 24px;

    font-weight: var(--typical-fW);
    font-size: 20px;
    line-height: calc(33/20);
    text-align: center;
    color: var(--dark-color-text);
}
.team-title {
    margin-bottom: 24px;

    font-weight: var(--typical-next-fw);
    font-size: 38px;
    line-height: calc(48/38);
    text-align: center;
    color: var(--dark-color-text);
}
.team-subtitle {
    margin-bottom: 24px;

    font-weight: var(--typical-fW);
    font-size: 18px;
    line-height: calc(28/18);
    text-align: center;
    color: var(--dark-color-text);
}

.team-list {
    display: flex;
    gap: 20px;
}
.team-item {
width: calc((100%-40px)/3);
}

.team-name {
    margin-top: 20px;
    margin-bottom: 12px;

    font-weight: var(--typical-fW);
    font-size: 25px;
    line-height: calc(32/25);
    text-align: center;
    color: var(--dark-color-text);

}
.team-text {
    font-weight: var(--typical-fW);
    font-size: 18px;
    line-height: calc(28/18);
    text-align: center;
    color: var(--dark-color-text);
}

.team-overlay {
    position: relative;
    overflow:hidden;
}

.team-soc-list {
    position: absolute;
    top: 0;
    padding-top: 130px;
    padding-bottom: 121px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 200ms linear;
    display: flex;  
    justify-content: center;
    gap: 25px;

    background-image: url(../images/team-2-0.png);
}

/* .team-overlay:hover .team-soc-list {
transform: translate(0);
} */

.overlay-card:is(:hover, :focus) .team-soc-list {
    transform: translate(0);
    
}

.team-icon {
    fill: var(--light-color-text);
}
.team-icon:hover {
    fill: var(--accent-color)
}

.overlay-card:is(:hover, :focus) img {
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4);
}
/* --------------- REQUEST --------------------- */

.request {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F4F4F4;
    }

.request-container {
    position: relative;
    height: 294px;
    /* padding-left: 690px; */

}

.request-img {
    position: absolute;
    left: -12px;
    top: -80px;
}

.request-form {
    margin-left: 690px;
}

.request-label {
    display: flex;
    flex-direction: column;  
    align-items: start;
}


.request-title {

    font-weight: var(--typical-next-fw);
    font-size: 38px;
    line-height: calc(48/38);
    color: var(--dark-color-text);
}

.request-input {
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 8px;
    width: 620px;
    height: 40px;
    margin-top: 32px;
    border: none;
    outline: none;

    font-weight: var(--typical-next-fw);
    font-size: 18px;
    line-height: calc(28/18);
    color: var(--dark-color-text);
}

.request-input::placeholder {
    color: #808080;
    font-size: 18px;
}

.request-input:focus {
    border: 1px solid #767575e6;
}

.request-input:not(:focus):not(:placeholder-shown):valid {
    background-color: rgba(118, 192, 43, 0.211);
}

.request-input:not(:focus):not(:placeholder-shown):invalid {
    background-color: rgba(221, 95, 37, 0.227);
}

.request-btn {
margin-top: 60px;
padding: 8px 295px;
background-color: var(--accent-color);
border-radius: 5px;
border-color: var(--accent-color);
transition: background-color 200ms linear;
outline: none;

font-weight: var(--typical-fw);
font-size: 18px;
line-height: calc(25/18);
color: var(--light-color-text);
}

.request-btn:is(:hover, :focus) {
    background-color: var(--typical-pasive-color);
}

/* --------------- FOOTER --------------------- */

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--dark-color-text);
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: calc((100%-72p)/4);
    margin: 0 auto;
}

/* .footer-soc-item {
} */

.footer-icon {
    fill: var(--light-color-text);
    transition: fill 200ms linear;
}
.footer-icon:is(:hover, :focus) {
    fill: var(--accent-color);
}
.footer-text {
    margin-top: 6px;

    font-weight: var(--typical-fW);
    font-size: 18px;
    line-height: calc(28/18);
    text-align: center;
    color: var(--light-color-text);
}

/* ----ANIMATION----- */

@keyframes changeTransform {
    0% {transform: translate(-58px, 70px);}
    100% {transform: translate(-65px, 70px);}
}

@keyframes changeTransformScale {
    0% {transform: scale(1.1);}
    /* 50% {transform: scale(1.2);} */
    100% {transform: scale(1.2);}
} 
